<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC</title>
    <link rel="stylesheet" href="/css/styles.css">
   
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <nav id="navbar" >
      <a href="https://ibb.co/7nkGTCS"><img src="https://i.ibb.co/K2K9Qh5/Mouse-pad-calend-rio-2023-preto-e-branco.png" alt="Mouse-pad-calend-rio-2023-preto-e-branco" border="0" id="logo-img"></a>
      <h2>Sua Agenda</i></h2>
      <ul style="list-style: none;">
        <li><a href="/tasks"  class="btn">Ver todas</a></li>
        <li><a href="/tasks/add" class="btn">Criar</a></li>
      </ul>
    </nav>
    <div class="container">
      {{{ body }}}
    </div>
  </body>
</html>
