* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

#logo-img {
  height: 65px;
  width: 65px;
}

#navbar {
  height: 110px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: black;
}

.btn{
  background-color: #081f2d; 
  border-radius: 29px; 
  border: 1px solid #081F2D; 
  color: white; 
  font-size: 15px; 
  display: flex;
  height: 25px;
  width: 90px;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  transition: 0.3s; 
}
  
.btn:hover{ 
  background-color: white; 
  color: #081F2D; 
  border-color: #081F2D; 
  transition: 0.3s; 
}



#navbar.show ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar ul li {
  margin: 0.5em 0;
}

/* #navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
} */

.container {
  max-width: 450px;
  margin: 2em auto;
}

.container form {
  margin-top: 1.5em;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

form input[type='submit'] {
  background-color: #333;
  color: #fff;
  padding: 0.7em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.task-list {
  list-style: none;
  margin-top: 1em;
}

.task-list li {
  padding: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
}

.task-list .title {
  font-weight: bold;
  color: black;
  transition: 0.5s;
  font-size: 1.2em;
}

.task-list .title:hover {
  color: #333;
}

.actions {
  display: flex;
}

.actions i {
  font-size: 1.5em;
  margin-right: 0.6em;
  color: #333;
}

.actions i:hover {
  color: black;
}

.actions form {
  margin: 0;
}

.actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title.done {
  text-decoration: line-through;
  color: #ccc;
}

@media screen and (max-width: 480px) {
  #navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  #navbar h2 {
    margin-top: 0.5em;
  }

  #navbar ul {
    display: flex;
    position: absolute;
    top: 108px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: cadetblue;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
  }




}