<h1>Criando uma tarefa:</h1>
<form action="/tasks/add" method="POST">
  <div class="form-control">
    <label for="titulo">Título:</label>
    <input type="text" name="titulo" placeholder="Qual a tarefa?">
  </div>
  <div class="form-control">
    <label for="data_inicio">data_inicio:</label>
    <input type="date" name="data_inicio" placeholder="Qual a data de inicio?">
  </div>
  <div class="form-control">
    <label for="data_fim">data_fim:</label>
    <input type="date" name="data_fim" placeholder="Qual o prazo?">
  </div>
  <div class="form-control">
    <label for="descricao">Descrição:</label>
    <textarea type="text" name="descricao" placeholder="O que você vai fazer?"></textarea>
  </div>
  <input type="submit" value="Criar">
</form>